<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de Juízes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Judge Test - South Atlantic Debating Championship</h2>
    <h5><b>Do not refresh the page.</b> The test is expected to take around 30 minutes, but you have up to 2 hours to complete it.</h5>
    <form method="POST">
            {% for question in questions %}
                <fieldset>
                    <legend>{{ question.question }}</legend>
                    {% for choice in question.choices %}
                        <label>
                            <input type="checkbox" name="{{ question.id }}" value="{{ choice }}">
                            {{ choice }}
                        </label><br>
                    {% endfor %}
                </fieldset>
            {% endfor %}
        <br>
        <button type="submit">Submit</button>
    </form>

<script>
const JUDGE_UUID = "{{ judge_uuid }}";
</script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

